@charset "UTF-8";
/*Обнулення*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/**/
body {
  font-family: 'Inter', sans-serif;
  background: url(../img/bg-test.png) no-repeat 60% 0% aliceblue; }
  @media (max-width: 767.98px) {
    body {
      background: #f0f8ff; } }

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main_container {
  max-width: 1400px;
  padding: 0 25px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  @media (max-width: 479.98px) {
    .main_container {
      padding: 0 20px; } }
  @media (max-width: 379.98px) {
    .main_container {
      padding: 0 15px; } }

.adaptive-img {
  max-width: 100%;
  height: auto; }

.blue-button {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(46, 111, 208, 0.9);
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (max-width: 991.98px) {
    .blue-button {
      font-size: 18px; } }
  @media (max-width: 767.98px) {
    .blue-button {
      font-size: 16px; } }
  @media (max-width: 575.98px) {
    .blue-button {
      font-size: 15px; } }
  @media (max-width: 479.98px) {
    .blue-button {
      font-size: 14px; } }

.blue-button:hover {
  background: #2869ca; }

/***************
*****Header*****
****************/
.header__container {
  max-width: 1350px; }

.header__navbar {
  background: rgba(46, 111, 208, 0.9);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  margin: 40px 0px 00px 0px;
  padding: 0 33px; }
  @media (max-width: 991.98px) {
    .header__navbar {
      padding: 20px 33px;
      margin: 20px 0px 00px 0px; } }
  @media (max-width: 767.98px) {
    .header__navbar {
      margin: 20px 0px 00px 0px; } }
  @media (max-width: 575.98px) {
    .header__navbar {
      margin: 20px 0px 00px 0px;
      padding: 15px 20px; } }

.header .container-fluid {
  padding: 0; }

.header__logo {
  margin-right: 0; }

.header__span-1 {
  text-transform: uppercase;
  color: #fff; }

.header__span-2 {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #fff; }

.header__car:before {
  content: url(../img/general-svg/header-logo.svg);
  position: absolute;
  top: 2px;
  left: 100px;
  padding-top: 7px; }

.header__list li a {
  color: #fff !important;
  padding: 33px 15px !important;
  font-size: 14px;
  line-height: 17px;
  position: relative; }
  @media (max-width: 991.98px) {
    .header__list li a {
      font-size: 20px;
      padding: 20px 15px !important; } }
  @media (max-width: 575.98px) {
    .header__list li a {
      font-size: 16px; } }

.header__list li a:hover {
  background: rgba(17, 86, 190, 0.5); }

.header__active {
  text-decoration: underline; }

.header .header__lang {
  font-size: 15px;
  line-height: 18px;
  color: #fff !important;
  margin: 0 40px;
  padding: 8px !important;
  position: relative;
  top: 25px;
  border-radius: 50%; }
  @media (max-width: 991.98px) {
    .header .header__lang {
      font-size: 20px;
      padding: 20px 15px !important;
      margin: 0;
      position: relative;
      top: 0px;
      border-radius: 10%; } }
  @media (max-width: 575.98px) {
    .header .header__lang {
      font-size: 16px; } }

.header .header__lang:hover {
  border-radius: 50%; }
  @media (max-width: 991.98px) {
    .header .header__lang:hover {
      border-radius: 0; } }

.header__last-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 991.98px) {
    .header__last-item {
      padding: 20px 15px; } }

.header .header__cabinet {
  display: inline;
  padding: 0 !important;
  margin-top: 33px;
  margin-left: 10px; }
  @media (max-width: 991.98px) {
    .header .header__cabinet {
      margin: 0; } }

.header .header__cabinet:hover {
  text-decoration: underline;
  background: none; }

.header__slash {
  color: #fff; }
  @media (max-width: 991.98px) {
    .header__slash {
      font-size: 20px; } }
  @media (max-width: 575.98px) {
    .header__slash {
      font-size: 16px; } }

.header .header__exit {
  padding: 0 !important; }

.header .header__exit:hover {
  text-decoration: underline;
  background: none; }

/*****************
*****Add-auto*****
*****************/
.add-auto {
  margin: 50px 0 60px 0; }
  @media (max-width: 767.98px) {
    .add-auto {
      margin: 40px 0 50px 0; } }
  @media (max-width: 575.98px) {
    .add-auto {
      margin: 30px 0 40px 0; } }
  @media (max-width: 379.98px) {
    .add-auto {
      margin: 25px 0 30px 0; } }
  .add-auto__title {
    margin-bottom: 30px; }
    @media (max-width: 991.98px) {
      .add-auto__title {
        margin-bottom: 25px; } }
    @media (max-width: 767.98px) {
      .add-auto__title {
        margin-bottom: 20px; } }
    @media (max-width: 575.98px) {
      .add-auto__title {
        margin-bottom: 15px; } }
    @media (max-width: 479.98px) {
      .add-auto__title {
        margin-bottom: 10px; } }
    @media (max-width: 379.98px) {
      .add-auto__title {
        margin-bottom: 5px; } }
    .add-auto__title h1 {
      font-size: 28px;
      line-height: 34px;
      text-align: center; }
      @media (max-width: 991.98px) {
        .add-auto__title h1 {
          font-size: 26px; } }
      @media (max-width: 767.98px) {
        .add-auto__title h1 {
          font-size: 24px; } }
      @media (max-width: 575.98px) {
        .add-auto__title h1 {
          font-size: 22px; } }
      @media (max-width: 379.98px) {
        .add-auto__title h1 {
          font-size: 20px; } }
  .add-auto .form label {
    display: block;
    font-size: 18px;
    line-height: 22px;
    padding-left: 15px;
    margin-bottom: 4px; }
    @media (max-width: 991.98px) {
      .add-auto .form label {
        padding-left: 10px; } }
    @media (max-width: 767.98px) {
      .add-auto .form label {
        padding-left: 8px; } }
    @media (max-width: 575.98px) {
      .add-auto .form label {
        font-size: 16px;
        margin-bottom: 2px; } }
    @media (max-width: 379.98px) {
      .add-auto .form label {
        margin-bottom: 1px; } }
  .add-auto .form input {
    font-size: 18px;
    line-height: 22px;
    width: 435px;
    height: 32px;
    background: #F9F9F9;
    border: 1px solid #437DD5;
    -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0px 15px; }
    @media (max-width: 991.98px) {
      .add-auto .form input {
        width: 335px; } }
    @media (max-width: 767.98px) {
      .add-auto .form input {
        width: 435px; } }
    @media (max-width: 575.98px) {
      .add-auto .form input {
        font-size: 16px; } }
    @media (max-width: 479.98px) {
      .add-auto .form input {
        width: 340px; } }
    @media (max-width: 379.98px) {
      .add-auto .form input {
        width: 290px; } }
  .add-auto__form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px; }
    @media (max-width: 991.98px) {
      .add-auto__form-wrapper {
        margin-bottom: 30px; } }
    @media (max-width: 767.98px) {
      .add-auto__form-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 20px; } }
    @media (max-width: 575.98px) {
      .add-auto__form-wrapper {
        margin-bottom: 15px; } }
    @media (max-width: 379.98px) {
      .add-auto__form-wrapper {
        margin-bottom: 10px; } }
  .add-auto__first-wrapper {
    margin-right: 30px; }
    @media (max-width: 991.98px) {
      .add-auto__first-wrapper {
        margin-right: 20px; } }
    @media (max-width: 767.98px) {
      .add-auto__first-wrapper {
        margin: 0; } }
  .add-auto__item {
    margin-bottom: 15px; }
    @media (max-width: 479.98px) {
      .add-auto__item {
        margin-bottom: 10px; } }
  .add-auto__fuel {
    position: relative;
    display: inline-block;
    width: 435px; }
    @media (max-width: 991.98px) {
      .add-auto__fuel {
        max-width: 335px;
        margin-bottom: 15px; } }
    @media (max-width: 767.98px) {
      .add-auto__fuel {
        max-width: 435px; } }
    @media (max-width: 479.98px) {
      .add-auto__fuel {
        max-width: 340px;
        margin-bottom: 10px; } }
    @media (max-width: 379.98px) {
      .add-auto__fuel {
        max-width: 290px; } }
  .add-auto__fuel-head {
    font-size: 16px;
    line-height: 19px;
    height: 32px;
    background: #F9F9F9;
    border: 1px solid #437DD5;
    -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 2; }
  .add-auto__fuel-head::after {
    width: 13px;
    height: 9px;
    background: url("../img/inactive/svg/check-mark.svg") no-repeat center/cover;
    position: absolute;
    right: 23px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    content: '';
    display: block;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in; }
  .add-auto__fuel-head.open::after {
    -webkit-transform: translateY(50%) rotate(180deg);
    -ms-transform: translateY(50%) rotate(180deg);
    transform: translateY(50%) rotate(180deg); }
  .add-auto__list {
    display: none;
    font-size: 16px;
    line-height: 19px;
    text-align-last: left;
    color: #000;
    background: #E8E8E8;
    -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border: 2px solid #437DD5;
    border-radius: 0 0 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 12px 0 5px 0;
    z-index: 1; }
  .add-auto__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px; }
  .add-auto__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9; }
  .add-auto__fuel-item {
    font-size: 16px;
    line-height: 19px;
    position: relative;
    padding: 5px 15px;
    cursor: pointer;
    list-style-type: none; }
  .add-auto__fuel-item:hover {
    background-color: #d8d8d8; }
  .add-auto .item-file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -35px;
    margin-bottom: 30px; }
    @media (max-width: 991.98px) {
      .add-auto .item-file {
        margin-top: -25px;
        margin-bottom: 25px; } }
    @media (max-width: 767.98px) {
      .add-auto .item-file {
        margin-top: -20px; } }
    @media (max-width: 575.98px) {
      .add-auto .item-file {
        margin-top: -15px;
        margin-bottom: 20px; } }
    @media (max-width: 379.98px) {
      .add-auto .item-file {
        margin-top: -10px; } }
  .add-auto .file__item {
    position: relative; }
  .add-auto .file .file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 97px;
    height: 100%;
    opacity: 0;
    font-size: 0;
    border-radius: 20px;
    cursor: pointer; }
  .add-auto .file__button {
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 40px;
    border-radius: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #417cd5;
    padding: 0 20px;
    margin: 0 auto; }
  .add-auto .file__preview {
    display: inline-block;
    max-width: 150px;
    padding-top: 10px; }
  .add-auto .file__preview img {
    max-width: 100%; }
  .add-auto__second-wrapper {
    margin-left: 30px; }
    @media (max-width: 991.98px) {
      .add-auto__second-wrapper {
        margin-left: 20px; } }
    @media (max-width: 767.98px) {
      .add-auto__second-wrapper {
        margin: 0; } }
  .add-auto__button {
    display: block;
    margin: 0 auto;
    padding: 14px 22px; }
    @media (max-width: 575.98px) {
      .add-auto__button {
        padding: 12px 20px; } }
    @media (max-width: 479.98px) {
      .add-auto__button {
        padding: 11px 18px; } }
    @media (max-width: 379.98px) {
      .add-auto__button {
        padding: 10px 16px; } }

/*****************
******Footer****** 
******************/
.footer_container {
  max-width: 1370px;
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 767.98px) {
    .footer_container {
      padding-bottom: 6px; } }

.footer {
  background: #437dd5;
  height: 105px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  @media (max-width: 767.98px) {
    .footer {
      height: 180px; } }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff; }
    @media (max-width: 767.98px) {
      .footer__logo {
        margin-bottom: 30px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .footer__a {
    position: relative;
    top: 4px; }
  .footer__span-1 {
    color: #fff;
    text-transform: uppercase;
    padding-right: 10px; }
  .footer__span-2 {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 27px;
    left: 0px;
    padding-right: 40px; }
    @media (max-width: 1199.98px) {
      .footer__span-2 {
        display: block;
        font-size: 12px;
        line-height: 15px;
        top: 20px;
        padding-right: 10px; } }
  .footer__car:before {
    content: url(../img/general-svg/footer-logo.svg);
    position: absolute;
    top: 2px;
    left: 168px;
    padding-top: 3px; }
    @media (max-width: 1199.98px) {
      .footer__car:before {
        content: url(../img/general-svg/header-logo.svg);
        position: absolute;
        left: 100px; } }
  .footer__copyright {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767.98px) {
      .footer__copyright {
        margin-bottom: 20px; } }
    @media (max-width: 575.98px) {
      .footer__copyright {
        font-size: 14px; } }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767.98px) {
      .footer__icons {
        margin-bottom: -15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .footer__icons a {
      margin-right: 5px;
      padding: 10px; }
    .footer__icons a:hover {
      background: rgba(17, 86, 190, 0.31);
      padding: 10px;
      border-radius: 50%; }
    .footer__icons a:last-child {
      margin-right: 0; }
  .footer__facebook {
    padding: 0 5px;
    margin-right: -5px;
    position: relative;
    right: 3px; }
  .footer__telegram {
    height: 16px; }
