@charset "UTF-8";
/*Обнулення*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/**/
body {
  font-family: 'Inter', sans-serif;
  background: url(../img/bg-test.png) no-repeat 60% 0% aliceblue; }
  @media (max-width: 767.98px) {
    body {
      background: #f0f8ff; } }

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main_container {
  max-width: 1400px;
  padding: 0 25px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  @media (max-width: 479.98px) {
    .main_container {
      padding: 0 20px; } }
  @media (max-width: 379.98px) {
    .main_container {
      padding: 0 15px; } }

.adaptive-img {
  max-width: 100%;
  height: auto; }

.blue-button {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(46, 111, 208, 0.9);
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  @media (max-width: 1399.98px) {
    .blue-button {
      font-size: 19px; } }
  @media (max-width: 1199.98px) {
    .blue-button {
      font-size: 18px; } }
  @media (max-width: 991.98px) {
    .blue-button {
      font-size: 17px; } }
  @media (max-width: 767.98px) {
    .blue-button {
      font-size: 16px; } }
  @media (max-width: 379.98px) {
    .blue-button {
      font-size: 14px; } }

.blue-button:hover {
  background: #2869ca; }

/***************
*****Header*****
****************/
.header__container {
  max-width: 1350px; }

.header__navbar {
  background: rgba(46, 111, 208, 0.9);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  margin: 40px 0px 0px 0px;
  padding: 0 33px; }
  @media (max-width: 991.98px) {
    .header__navbar {
      padding: 20px 33px;
      margin: 20px 0px 00px 0px; } }
  @media (max-width: 767.98px) {
    .header__navbar {
      margin: 20px 0px 00px 0px; } }
  @media (max-width: 575.98px) {
    .header__navbar {
      margin: 20px 0px 00px 0px;
      padding: 15px 20px; } }

.header .container-fluid {
  padding: 0; }

.header__logo {
  font-size: 15px;
  line-height: 18px;
  position: relative;
  padding-right: 5px;
  padding-bottom: 5px; }

.header__span-1 {
  text-transform: uppercase;
  color: #fff; }

.header__span-2 {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #fff; }

.header__car:before {
  content: url(../img/general-svg/header-logo.svg);
  position: absolute;
  top: 2px;
  left: 100px;
  padding-top: 7px; }

.header__list li a {
  color: #fff !important;
  padding: 33px 15px !important;
  font-size: 14px;
  line-height: 17px;
  position: relative; }
  @media (max-width: 991.98px) {
    .header__list li a {
      font-size: 20px;
      padding: 20px 15px !important; } }
  @media (max-width: 575.98px) {
    .header__list li a {
      font-size: 16px; } }

.header__list li a:hover {
  background: rgba(17, 86, 190, 0.5); }

.header__active {
  text-decoration: underline; }

.header .header__lang {
  font-size: 15px;
  line-height: 18px;
  margin: 0 40px;
  padding: 8px !important;
  position: relative;
  top: 27px;
  border-radius: 50%; }
  @media (max-width: 991.98px) {
    .header .header__lang {
      font-size: 20px;
      padding: 20px 15px !important;
      margin: 0;
      position: relative;
      top: 0px;
      border-radius: 10%; } }
  @media (max-width: 575.98px) {
    .header .header__lang {
      font-size: 16px; } }

.header .header__lang:hover {
  border-radius: 50%; }
  @media (max-width: 991.98px) {
    .header .header__lang:hover {
      border-radius: 0; } }

.header__last-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 991.98px) {
    .header__last-item {
      padding: 20px 15px; } }

.header .header__cabinet {
  display: inline;
  padding: 0 !important;
  margin-left: 10px; }
  @media (max-width: 991.98px) {
    .header .header__cabinet {
      margin: 0; } }

.header .header__cabinet:hover {
  text-decoration: underline;
  background: none; }

.header__slash {
  color: #fff; }
  @media (max-width: 991.98px) {
    .header__slash {
      font-size: 20px; } }
  @media (max-width: 575.98px) {
    .header__slash {
      font-size: 16px; } }

.header .header__exit {
  padding: 0 !important; }

.header .header__exit:hover {
  text-decoration: underline;
  background: none; }

/****************
*****Manager*****
*****************/
.manager {
  margin: 40px 0 50px 0; }
  @media (max-width: 767.98px) {
    .manager {
      margin: 30px 0 40px 0; } }
  @media (max-width: 575.98px) {
    .manager {
      margin: 30px 0 30px 0; } }
  @media (max-width: 379.98px) {
    .manager {
      margin: 20px 0 20px 0; } }
  .manager__container {
    padding: 0; }
  .manager__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1399.98px) {
      .manager__row {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    @media (max-width: 767.98px) {
      .manager__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .manager__profile {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 22%;
    flex: 0 1 22%;
    margin-left: 60px; }
    @media (max-width: 1399.98px) {
      .manager__profile {
        margin-left: 40px; } }
    @media (max-width: 1199.98px) {
      .manager__profile {
        margin-left: 20px;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 27%;
        flex: 0 1 27%; } }
    @media (max-width: 991.98px) {
      .manager__profile {
        margin-left: 15px;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
        flex: 0 1 35%; } }
    @media (max-width: 767.98px) {
      .manager__profile {
        margin-bottom: 50px;
        margin-left: 0px; } }
    @media (max-width: 575.98px) {
      .manager__profile {
        margin-bottom: 40px; } }
    @media (max-width: 379.98px) {
      .manager__profile {
        margin-bottom: 35px; } }
    .manager__profile h3 {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 15px; }
      @media (max-width: 1399.98px) {
        .manager__profile h3 {
          margin-bottom: 10px; } }
      @media (max-width: 1199.98px) {
        .manager__profile h3 {
          margin-bottom: 5px; } }
      @media (max-width: 991.98px) {
        .manager__profile h3 {
          font-size: 22px;
          margin-bottom: 0px; } }
  .manager__collapsible {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 77%;
    flex: 0 1 77%;
    padding: 0; }
    @media (max-width: 1399.98px) {
      .manager__collapsible {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
        flex: 0 1 70%; } }
    @media (max-width: 1199.98px) {
      .manager__collapsible {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
        flex: 0 1 65%; } }
    @media (max-width: 991.98px) {
      .manager__collapsible {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 62%;
        flex: 0 1 62%; } }
    @media (max-width: 767.98px) {
      .manager__collapsible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%; } }

.profile__user {
  font-size: 20px;
  line-height: 24px; }
  @media (max-width: 991.98px) {
    .profile__user {
      font-size: 18px; } }
  .profile__user span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 3px; }
    .profile__user span input {
      max-width: 220px;
      background: #F9F9F9;
      border: 1px solid #437DD5;
      -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 3px 10px; }
    .profile__user span button {
      color: #fff;
      background: rgba(46, 111, 208, 0.9);
      border-radius: 10px;
      padding: 5px 10px;
      margin: 10px auto; }
    .profile__user span button:hover {
      background: #2869ca; }

.profile__user-img {
  position: relative;
  top: 3px;
  right: 5px; }

.profile__edit-img {
  position: relative;
  top: 3px; }

.profile__email {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px; }
  @media (max-width: 1199.98px) {
    .profile__email {
      margin-bottom: 25px; } }
  @media (max-width: 991.98px) {
    .profile__email {
      font-size: 14px; } }

.profile__edit-catalog {
  margin-bottom: 43px; }
  @media (max-width: 1199.98px) {
    .profile__edit-catalog {
      margin-bottom: 40px; } }
  @media (max-width: 991.98px) {
    .profile__edit-catalog {
      margin-bottom: 38px; } }
  @media (max-width: 767.98px) {
    .profile__edit-catalog {
      text-align: center; } }
  @media (max-width: 379.98px) {
    .profile__edit-catalog {
      margin-bottom: 33px; } }
  .profile__edit-catalog a {
    padding: 14px 17px; }
    @media (max-width: 1199.98px) {
      .profile__edit-catalog a {
        padding: 14px 18px; } }
    @media (max-width: 991.98px) {
      .profile__edit-catalog a {
        padding: 14px 19px; } }

.profile__add-panel {
  margin-bottom: 43px; }
  @media (max-width: 1199.98px) {
    .profile__add-panel {
      margin-bottom: 40px; } }
  @media (max-width: 991.98px) {
    .profile__add-panel {
      margin-bottom: 38px; } }
  @media (max-width: 767.98px) {
    .profile__add-panel {
      text-align: center; } }
  @media (max-width: 379.98px) {
    .profile__add-panel {
      margin-bottom: 33px; } }
  .profile__add-panel a {
    padding: 14px 57px; }
    @media (max-width: 1399.98px) {
      .profile__add-panel a {
        padding: 14px 56px; } }
    @media (max-width: 1199.98px) {
      .profile__add-panel a {
        padding: 14px 54px; } }
    @media (max-width: 991.98px) {
      .profile__add-panel a {
        padding: 14px 53px; } }
    @media (max-width: 767.98px) {
      .profile__add-panel a {
        padding: 14px 51px; } }
    @media (max-width: 379.98px) {
      .profile__add-panel a {
        padding: 14px 48px; } }

@media (max-width: 767.98px) {
  .profile__activated-sub {
    text-align: center; } }

.profile__activated-sub a {
  padding: 14px 30px; }
  @media (max-width: 1399.98px) {
    .profile__activated-sub a {
      padding: 14px 29px; } }

.collapsible__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  background: #F9F9F9;
  border: 2px solid #437DD5 !important;
  -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
  padding: 25px 38px 15px 38px;
  margin-bottom: 16px; }
  @media (max-width: 1199.98px) {
    .collapsible__item-wrapper {
      padding: 20px 30px 10px 30px; } }
  @media (max-width: 991.98px) {
    .collapsible__item-wrapper {
      padding: 15px 20px 5px 25px; } }
  @media (max-width: 767.98px) {
    .collapsible__item-wrapper {
      padding: 10px 20px 0px 20px; } }
  @media (max-width: 575.98px) {
    .collapsible__item-wrapper {
      padding: 10px 20px 10px 20px;
      margin-bottom: 14px; } }
  @media (max-width: 479.98px) {
    .collapsible__item-wrapper {
      margin-bottom: 12px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media (max-width: 379.98px) {
    .collapsible__item-wrapper {
      padding: 9px 15px 9px 15px;
      margin-bottom: 10px; } }

.collapsible__list {
  font-size: 24px;
  line-height: 29px;
  max-height: 80px;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  padding: 0;
  margin: 0; }
  @media (max-width: 1399.98px) {
    .collapsible__list {
      font-size: 22px; } }
  @media (max-width: 1199.98px) {
    .collapsible__list {
      font-size: 20px; } }
  @media (max-width: 991.98px) {
    .collapsible__list {
      font-size: 18px; } }
  @media (max-width: 767.98px) {
    .collapsible__list {
      font-size: 16px;
      max-height: 70px; } }
  @media (max-width: 575.98px) {
    .collapsible__list {
      font-size: 15px;
      line-height: 21px; } }
  @media (max-width: 479.98px) {
    .collapsible__list {
      line-height: 20px; } }
  @media (max-width: 379.98px) {
    .collapsible__list {
      line-height: 19px; } }
  .collapsible__list li {
    margin-bottom: 10px; }
    @media (max-width: 991.98px) {
      .collapsible__list li {
        margin-bottom: 8px; } }
    @media (max-width: 767.98px) {
      .collapsible__list li {
        margin-bottom: 3px; } }
  .collapsible__list li:last-child {
    margin-bottom: 10px; }

.collapsible .collapsible__item-wrapper.open .collapsible__list, .collapsible #item-wrapper-2.open .collapsible__list, .collapsible #item-wrapper-3.open .collapsible__list {
  max-height: 600px;
  -webkit-transition: max-height 0.5s ease-in;
  -o-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in; }

.collapsible__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  margin-bottom: 13px; }
  @media (max-width: 575.98px) {
    .collapsible__buttons {
      margin-bottom: 3px; } }
  @media (max-width: 479.98px) {
    .collapsible__buttons {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
      margin-top: 5px; } }
  .collapsible__buttons .toggle-btn {
    color: #000;
    background: inherit;
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline; }
    @media (max-width: 1399.98px) {
      .collapsible__buttons .toggle-btn {
        font-size: 18px; } }
    @media (max-width: 1199.98px) {
      .collapsible__buttons .toggle-btn {
        font-size: 16px; } }
    @media (max-width: 991.98px) {
      .collapsible__buttons .toggle-btn {
        font-size: 14px;
        line-height: 18px; } }
    @media (max-width: 575.98px) {
      .collapsible__buttons .toggle-btn {
        font-size: 13px; } }

.collapsible__active-sub {
  margin: 30px 0 10px 0; }
  @media (max-width: 1199.98px) {
    .collapsible__active-sub {
      margin: 25px 0 10px 0; } }
  @media (max-width: 767.98px) {
    .collapsible__active-sub {
      margin: 20px 0 10px 0; } }
  .collapsible__active-sub a {
    padding: 14px 25px; }
    @media (max-width: 1399.98px) {
      .collapsible__active-sub a {
        padding: 14px 20px; } }
    @media (max-width: 1199.98px) {
      .collapsible__active-sub a {
        padding: 12px 18px; } }
    @media (max-width: 991.98px) {
      .collapsible__active-sub a {
        padding: 12px 15px; } }
    @media (max-width: 379.98px) {
      .collapsible__active-sub a {
        padding: 10px 14px; } }

.collapsible .display-none {
  display: none; }

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 20px 0 20px; }
  .switch img {
    cursor: pointer; }

.switch-item {
  width: 32px;
  height: 32px;
  color: #fff;
  background: #437DD5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer; }
  @media (max-width: 479.98px) {
    .switch-item {
      width: 30px;
      height: 30px; } }
  @media (max-width: 379.98px) {
    .switch-item {
      width: 28px;
      height: 28px; } }

.switch-active {
  background: #185fca; }

.switch-inactive:hover, .switch-inactive:hover {
  color: #2869CA;
  background: inherit;
  border: 2px solid #2869CA;
  font-weight: bold;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }

.switch-inactive:last-child {
  margin: 0; }

/*****************
******Footer****** 
******************/
.footer_container {
  max-width: 1370px;
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 767.98px) {
    .footer_container {
      padding-bottom: 6px; } }

.footer {
  background: #437dd5;
  height: 105px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  @media (max-width: 767.98px) {
    .footer {
      height: 180px; } }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    line-height: 29px;
    position: relative;
    color: #fff; }
    @media (max-width: 767.98px) {
      .footer__logo {
        margin-bottom: 20px;
        position: relative;
        right: 15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .footer__a {
    position: relative;
    top: -6px; }
    @media (max-width: 1199.98px) {
      .footer__a {
        font-size: 15px;
        line-height: 18px;
        padding-bottom: 20px;
        top: 0px; } }
  .footer__span-1 {
    color: #fff;
    text-transform: uppercase;
    padding-right: 10px; }
  .footer__span-2 {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 27px;
    left: 0px;
    padding-right: 40px; }
    @media (max-width: 1199.98px) {
      .footer__span-2 {
        display: block;
        font-size: 12px;
        line-height: 15px;
        top: 20px;
        padding-right: 10px; } }
  .footer__car:before {
    content: url(../img/general-svg/footer-logo.svg);
    position: absolute;
    top: 2px;
    left: 168px;
    padding-top: 3px; }
    @media (max-width: 1199.98px) {
      .footer__car:before {
        content: url(../img/general-svg/header-logo.svg);
        position: absolute;
        left: 100px; } }
  .footer__copyright {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767.98px) {
      .footer__copyright {
        margin-bottom: 20px; } }
    @media (max-width: 575.98px) {
      .footer__copyright {
        font-size: 14px; } }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767.98px) {
      .footer__icons {
        margin-bottom: -15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .footer__icons a {
      margin-right: 5px;
      padding: 10px; }
    .footer__icons a:hover {
      background: rgba(17, 86, 190, 0.31);
      padding: 10px;
      border-radius: 50%; }
    .footer__icons a:last-child {
      margin-right: 0; }
  .footer__facebook {
    padding: 0 5px;
    margin-right: -5px;
    position: relative;
    right: 3px; }
  .footer__telegram {
    height: 16px; }
