body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.report {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;}
    .report__block {
      width: 868px;
      height: 465px;
      border: 2px solid #437DD5;
      background: #fafafa;
      -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
      border-radius: 20px; }
      @media (max-width: 920px) {
        .report{
          
        }
        .report__block {
          width: 720px;
          height: 465px; } }
      @media (max-width: 800px) {
        .report__block {
          width: 540px;
          height: 515px; } }
      @media (max-width: 700px) {
         }
      @media (max-width: 600px) {
        .report__block {
          width: 400px;
          height: 375px; } }
      @media (max-width: 450px) {
        .report__block {
          width: 350px;
          height: 360px; } }
      @media (max-width: 400px) {
        .report__block {
          width: 280px;
          height: 390px; } }
      .report__title {
        margin-top: 20px; }
      @media (max-width: 600px) {
        .report__title {
          margin-top: 15px;
        } }
      @media (max-width: 479.98px) {
        .report__title {
          margin: 0;} }
      .report__title span {
        display: block;
        padding-left: 45px;
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 0; }
        @media (max-width: 800px) {
          .report__title span {
            font-size: 20px;
            padding-left: 40px;} }
        @media (max-width: 600px) {
          .report__title span {
            font-size: 18px;
            line-height: 25px;
            padding-left: 15px;} }
            @media (max-width: 450px){
              .report__title span {
                padding-left: 10px;}
            }
        @media (max-width: 400px) {
          .report__title span {
            font-size: 15px; } }

      .report__bottomtext {
        position: relative;
        top: 25px;
        left: 32px;
      }
      @media (max-width: 600px) {
          .report__bottomtext {
            top: 15px;
            left: 15px; } }
      @media (max-width: 450px) {
        .report__bottomtext {
          top: 15px;
          left: 10px; } }
      @media (max-width: 400px) {
        .report__bottomtext {
          top: 10px;
          left: 9px; } }      
      .report__title h2 {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 0; }
        @media (max-width: 800px) {
          .report__title h2 {
            font-size: 20px;
            left: 25px; } }
        @media (max-width: 600px) {
          .report__title h2 {
            font-size: 18px;
            line-height: 30px;
            left: 45px; } }
            @media (max-width: 450px) {
          .report__title h2 {
            font-size: 18px;
            line-height: 25px;
            left: 45px; } }
        @media (max-width: 400px) {
          .report__title h2 {
            font-size: 15px;
            line-height: 25px; } }      
    .report__services {
      margin: 0 10px; }
      
      @media (max-width: 600px) {
        .report__services {
          margin-top: 10px; } }

      .report__services a {
        position: relative;
        color: black;
        font-size: 18px;
        text-decoration: underline;
        left: 615px
        }
        @media (max-width: 920px) {
          .report__services a {
            left: 480px; } }
        @media (max-width: 800px) {
          .report__services a {
            font-size: 16px;
            top: 50px;
            left: 32px; } }    
        @media (max-width: 700px) {
          .report__services a {
            top: 50px;
            left: 32px; } }
        @media (max-width: 600px) {
          .report__services a {
            font-size: 14px;
            top: 35px;
            left: 18px; } }  
        @media (max-width: 450px) {
          .report__services a {
            font-size: 14px;
            top: 35px;
            left: 12px; } }      
        @media (max-width: 400px) {
          .report__services a {
            top: 20px;
            left: 10px;
            font-size: 12px;
            text-align: center; } }    
      .report__services a:last-child {
        margin-right: 0; }
        @media (max-width: 379.98px) {
          .report__services a:last-child {
            margin-right: 25px; } }
    .report__button {
      position: relative;
      top: 23px;
      right: 44px; }
      @media (max-width: 479.98px) {
        .report__button {
          top: 15px;
          right: 35px; } }


.report__line {
    /* Line 2 */
    position: relative;
    right: 115px;
    top: 178px;
    width: 300px;

    border: 2px solid rgba(67, 125, 213, 0.8);
    transform: rotate(90deg);
}
@media (max-width: 800px) {
    .report__line {
      right: 125px; } }
@media (max-width: 600px) {
    .report__line {
      display: none; } }      

.gear__icon {
    /* gear 1 */


    position: fixed;
    width: 705px;   
    height: 714px;
    left: 60%;
    top: 30%;
    background: url(../img/gear.png);
    background-repeat: no-repeat;
    opacity: 0.15;
}