.report {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 100px -20px 100px 0; }
    @media (max-width: 991.98px) {
      .report {
        margin: 150px -20px 150px 0; } }
    @media (max-width: 767.98px) {
      .report {
        margin: 100px -20px 100px 0; } }
    @media (max-width: 575.98px) {
      .report {
        margin: 60px -20px 60px 0; } }
    @media (max-width: 479.98px) {
      .report {
        margin: 40px -20px 40px 0; } }
    @media (max-width: 379.98px) {
      .report {
        margin: 20px -20px 20px 0; } }
    .report__block {
      width: 868px;
      height: 500px;
      border: 2px solid #437DD5;
      background: #fafafa;
      -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
      border-radius: 20px; }
      @media (max-width: 920px) {
        .report__block {
          width: 768px;
          height: 500px; } }
      @media (max-width: 800px) {
        .report__block {
          width: 668px;
          height: 550px; } }
      @media (max-width: 700px) {
        .report__block {
          margin: 10px 10px; } }
      @media (max-width: 600px) {
        .report__block {
          width: 470px;
          height: 450px; } }
    .report__title {
      
      margin-top: 20px; }
      @media (max-width: 800px) {
        .report__title {
          margin-top: 0px; } }
      @media (max-width: 479.98px) {
        .report__title {
          margin: 0;} }
      .report__title p {
        position: relative;
        left: 6%;
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 0; }
        @media (max-width: 800px) {
          .report__title p {
            font-size: 20px;
            top: 6px; } }
        @media (max-width: 600px) {
          .report__title p {
            font-size: 16px;
            line-height: 25px; } }
        @media (max-width: 400px) {
          .report__title p {
            text-align: center;
            left: 0;
            font-size: 12px; } }

      .report__bottomtext {
        position: relative;
        top: 25px;
        left: 32px;
      }
      @media (max-width: 400px) {
        .report__bottomtext {
          top: 0px;
          left: 0px;
          margin-top: 20px; } }      
      .report__title h2 {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 0; }
        @media (max-width: 800px) {
          .report__title h2 {
            font-size: 20px;
            left: 25px; } }
        @media (max-width: 600px) {
          .report__title h2 {
            font-size: 16px;
            left: 45px; } }
        @media (max-width: 400px) {
          .report__title h2 {
            font-size: 12px;
            line-height: 25px;
            text-align: center; } }      
    .report__services {
      margin: 0 10px; }
      
      @media (max-width: 575.98px) {
        .report__services {
          margin-top: 10px; } }

      .report__services a {
        position: relative;
        color: black;
        font-size: 18px;
        text-decoration: underline;
        left: 615px
        }
        @media (max-width: 920px) {
          .report__services a {
            left: 515px; } }
        @media (max-width: 800px) {
          .report__services a {
            left: 415px; } }    
        @media (max-width: 700px) {
          .report__services a {
            top: 50px;
            left: 32px; } }
        @media (max-width: 600px) {
          .report__services a {
            font-size: 16px;
            top: 50px;
            left: 32px; } }
        @media (max-width: 400px) {
          .report__services a {
            font-size: 12px;
            text-align: center; } }    
      .report__services a:last-child {
        margin-right: 0; }
        @media (max-width: 379.98px) {
          .report__services a:last-child {
            margin-right: 25px; } }
    .report__button {
      position: relative;
      top: 23px;
      right: 44px; }
      @media (max-width: 479.98px) {
        .report__button {
          top: 15px;
          right: 35px; } }


.report__line {
    /* Line 2 */
    position: relative;
    right: 115px;
    top: 178px;
    width: 300px;

    border: 2px solid rgba(67, 125, 213, 0.8);
    transform: rotate(90deg);
}
@media (max-width: 800px) {
    .report__line {
      right: 125px; } }
@media (max-width: 600px) {
    .report__line {
      display: none; } }      

.gear__icon {
    /* gear 1 */


    position: fixed;
    width: 705px;   
    height: 714px;
    left: 57%;
    top: 19%;
    background: url(../img/gear.png);
    background-repeat: no-repeat;
    opacity: 0.15;
    z-index: 100;
}