@charset "UTF-8";
/*Обнулення*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/**/
body {
  font-family: 'Inter', sans-serif;
  background: url(../img/bg-test.png) no-repeat 60% 0% aliceblue; }
  @media (max-width: 767.98px) {
    body {
      background: #f0f8ff; } }

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main_container {
  max-width: 1400px;
  padding: 0 25px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  @media (max-width: 479.98px) {
    .main_container {
      padding: 0 20px; } }
  @media (max-width: 379.98px) {
    .main_container {
      padding: 0 15px; } }

.adaptive-img {
  max-width: 100%;
  height: auto; }

.blue-button {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(46, 111, 208, 0.9);
  border-radius: 10px; }
  @media (max-width: 767.98px) {
    .blue-button {
      font-size: 18px; } }
  @media (max-width: 575.98px) {
    .blue-button {
      font-size: 16px; } }
  @media (max-width: 479.98px) {
    .blue-button {
      font-size: 14px; } }

.blue-button:hover {
  background: #2869ca; }

/***************
*****Header*****
****************/
.header__container {
  max-width: 1350px; }

.header__navbar {
  background: rgba(46, 111, 208, 0.9);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  margin: 40px 0px 0px 0px;
  padding: 0 33px; }
  @media (max-width: 991.98px) {
    .header__navbar {
      padding: 20px 33px;
      margin: 20px 0px 0px 0px; } }
  @media (max-width: 767.98px) {
    .header__navbar {
      margin: 20px 0px 0px 0px; } }
  @media (max-width: 575.98px) {
    .header__navbar {
      margin: 20px 0px 0px 0px;
      padding: 15px 20px; } }

.header .container-fluid {
  padding: 0; }

.header__logo {
  margin-right: 0; }

.header__span-1 {
  text-transform: uppercase;
  color: #fff; }

.header__span-2 {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #fff; }

.header__car:before {
  content: url(../img/general-svg/header-logo.svg);
  position: absolute;
  top: 2px;
  left: 100px;
  padding-top: 7px; }

.header__list li a {
  color: #fff !important;
  padding: 33px 15px !important;
  font-size: 14px;
  line-height: 17px;
  position: relative; }
  @media (max-width: 991.98px) {
    .header__list li a {
      font-size: 20px;
      padding: 20px 15px !important; } }
  @media (max-width: 575.98px) {
    .header__list li a {
      font-size: 16px; } }

.header__list li a:hover {
  background: rgba(17, 86, 190, 0.5); }

.header .header__lang {
  font-size: 15px;
  line-height: 18px;
  margin: 0 40px;
  padding: 8px !important;
  position: relative;
  top: 27px;
  border-radius: 50%; }
  @media (max-width: 991.98px) {
    .header .header__lang {
      font-size: 20px;
      padding: 20px 15px !important;
      margin: 0;
      position: relative;
      top: 0px;
      border-radius: 10%; } }
  @media (max-width: 575.98px) {
    .header .header__lang {
      font-size: 16px; } }

.header .header__lang:hover {
  border-radius: 50%; }
  @media (max-width: 991.98px) {
    .header .header__lang:hover {
      border-radius: 0; } }

.header__last-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 991.98px) {
    .header__last-item {
      padding: 20px 15px; } }

.header .header__sign-in {
  display: inline;
  padding: 0 !important;
  margin-top: 33px;
  margin-left: 10px; }
  @media (max-width: 991.98px) {
    .header .header__sign-in {
      margin: 0; } }

.header .header__sign-in:hover {
  text-decoration: underline;
  background: none; }

.header__active {
  text-decoration: underline; }

.header__active:hover {
  text-decoration: underline; }

.header__slash {
  color: #fff; }
  @media (max-width: 991.98px) {
    .header__slash {
      font-size: 20px; } }
  @media (max-width: 575.98px) {
    .header__slash {
      font-size: 16px; } }

.header .header__sign-up {
  padding: 0 !important; }

.header .header__sign-up:hover {
  text-decoration: underline;
  background: none; }

/****************
*****Sign-in*****
*****************/
.sign-in {
  margin: 55px 0 60px 0; }
  @media (max-width: 767.98px) {
    .sign-in {
      margin: 50px 0 50px 0; } }
  @media (max-width: 575.98px) {
    .sign-in {
      margin: 40px 0 40px 0; } }
  @media (max-width: 379.98px) {
    .sign-in {
      margin: 30px 0 30px 0; } }
  .sign-in__wrapper {
    max-width: 430px;
    margin: 0 auto; }
  .sign-in__switch {
    border-radius: 10px;
    padding: 16px 0 15px 0px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #F0F0F0;
    margin-bottom: 40px; }
    @media (max-width: 767.98px) {
      .sign-in__switch {
        margin-bottom: 35px; } }
    @media (max-width: 575.98px) {
      .sign-in__switch {
        max-width: 373px;
        margin: 0 auto 30px auto; } }
    @media (max-width: 479.98px) {
      .sign-in__switch {
        padding: 14px 0 12px 3px;
        max-width: 316px;
        margin: 0 auto 25px auto; } }
    @media (max-width: 379.98px) {
      .sign-in__switch {
        max-width: 270px;
        margin: 0 auto 20px auto; } }
  .sign-in__up {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #5B5B5B;
    background: #F0F0F0;
    border-radius: 10px;
    padding: 16px 50px; }
    @media (max-width: 575.98px) {
      .sign-in__up {
        font-size: 16px;
        padding: 16px 41.555px; } }
    @media (max-width: 479.98px) {
      .sign-in__up {
        font-size: 14px;
        padding: 15px 33px; } }
    @media (max-width: 379.98px) {
      .sign-in__up {
        padding: 15px 22px; } }
  .sign-in__in {
    font-size: 18px;
    line-height: 22px;
    padding: 16px 86.546px;
    background: #3f7cd5; }
    @media (max-width: 575.98px) {
      .sign-in__in {
        font-size: 16px;
        padding: 16px 75px; } }
    @media (max-width: 479.98px) {
      .sign-in__in {
        font-size: 14px;
        padding: 15px 62px; } }
    @media (max-width: 379.98px) {
      .sign-in__in {
        padding: 15px 50px; } }
  .sign-in__in:hover {
    background: #3f7cd5; }
  .sign-in__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
    color: #000; }
    @media (max-width: 767.98px) {
      .sign-in__title {
        font-size: 22px;
        margin-bottom: 14px; } }
    @media (max-width: 575.98px) {
      .sign-in__title {
        font-size: 20px;
        margin-bottom: 12px; } }
    @media (max-width: 479.98px) {
      .sign-in__title {
        font-size: 18px;
        margin-bottom: 10px; } }
    @media (max-width: 379.98px) {
      .sign-in__title {
        font-size: 18px;
        margin-bottom: 5px; } }
  .sign-in__email {
    margin-bottom: 18px !important; }
    @media (max-width: 767.98px) {
      .sign-in__email {
        margin-bottom: 16px !important; } }
    @media (max-width: 575.98px) {
      .sign-in__email {
        margin-bottom: 14px !important; } }
    @media (max-width: 479.98px) {
      .sign-in__email {
        margin-bottom: 12px !important; } }
    @media (max-width: 379.98px) {
      .sign-in__email {
        margin-bottom: 10px !important; } }
  .sign-in__password {
    margin-bottom: 30px !important; }
    @media (max-width: 767.98px) {
      .sign-in__password {
        margin-bottom: 25px !important; } }
    @media (max-width: 575.98px) {
      .sign-in__password {
        margin-bottom: 20px !important; } }
    @media (max-width: 479.98px) {
      .sign-in__password {
        margin-bottom: 18px !important; } }
    @media (max-width: 379.98px) {
      .sign-in__password {
        margin-bottom: 16px !important; } }
  .sign-in label {
    font-size: 20px;
    line-height: 24px;
    margin-left: 12px;
    color: #000;
    margin-bottom: 2px; }
    @media (max-width: 767.98px) {
      .sign-in label {
        font-size: 18px; } }
    @media (max-width: 575.98px) {
      .sign-in label {
        font-size: 16px;
        margin-bottom: 0px; } }
    @media (max-width: 479.98px) {
      .sign-in label {
        font-size: 14px;
        margin-bottom: -2px; } }
  .sign-in input {
    padding: 10px 17px;
    font-size: 20px;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; }
    @media (max-width: 767.98px) {
      .sign-in input {
        font-size: 18px; } }
    @media (max-width: 575.98px) {
      .sign-in input {
        font-size: 16px; } }
    @media (max-width: 479.98px) {
      .sign-in input {
        font-size: 14px; } }
  .sign-in .sign-in__checkbox {
    padding: 10px;
    border-radius: 0px;
    margin-top: 0;
    height: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    position: relative; }
    @media (max-width: 575.98px) {
      .sign-in .sign-in__checkbox {
        top: 1px; } }
    @media (max-width: 479.98px) {
      .sign-in .sign-in__checkbox {
        padding: 9px; } }
  .sign-in__remember {
    padding-left: 35px;
    margin-bottom: 22px !important; }
    @media (max-width: 767.98px) {
      .sign-in__remember {
        padding-left: 33px;
        margin-bottom: 20px !important; } }
    @media (max-width: 575.98px) {
      .sign-in__remember {
        padding-left: 30px;
        margin-bottom: 18px !important; } }
    @media (max-width: 479.98px) {
      .sign-in__remember {
        padding-left: 27px;
        margin-bottom: 16px !important; } }
  .sign-in .sign-in__remember-label {
    font-size: 15px;
    line-height: 22px;
    margin-left: -3px; }
    @media (max-width: 767.98px) {
      .sign-in .sign-in__remember-label {
        margin-left: 0px; } }
    @media (max-width: 575.98px) {
      .sign-in .sign-in__remember-label {
        font-size: 14px;
        margin-left: 3px; } }
    @media (max-width: 479.98px) {
      .sign-in .sign-in__remember-label {
        font-size: 13px;
        margin-left: 5px; } }
  .sign-in__authorization {
    padding: 14px 20px;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media (max-width: 479.98px) {
      .sign-in__authorization {
        padding: 12px 20px; } }

/*****************
******Footer****** 
******************/
.footer_container {
  max-width: 1370px;
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 767.98px) {
    .footer_container {
      padding-bottom: 6px; } }

.footer {
  background: #437dd5;
  height: 105px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  @media (max-width: 767.98px) {
    .footer {
      height: 180px; } }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff; }
    @media (max-width: 767.98px) {
      .footer__logo {
        margin-bottom: 30px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .footer__a {
    position: relative;
    top: 4px; }
  .footer__span-1 {
    color: #fff;
    text-transform: uppercase;
    padding-right: 10px; }
  .footer__span-2 {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 27px;
    left: 0px;
    padding-right: 40px; }
    @media (max-width: 1199.98px) {
      .footer__span-2 {
        display: block;
        font-size: 12px;
        line-height: 15px;
        top: 20px;
        padding-right: 10px; } }
  .footer__car:before {
    content: url(../img/general-svg/footer-logo.svg);
    position: absolute;
    top: 2px;
    left: 168px;
    padding-top: 3px; }
    @media (max-width: 1199.98px) {
      .footer__car:before {
        content: url(../img/general-svg/header-logo.svg);
        position: absolute;
        left: 100px; } }
  .footer__copyright {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767.98px) {
      .footer__copyright {
        margin-bottom: 20px; } }
    @media (max-width: 575.98px) {
      .footer__copyright {
        font-size: 14px; } }
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767.98px) {
      .footer__icons {
        margin-bottom: -15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .footer__icons a {
      margin-right: 5px;
      padding: 10px; }
    .footer__icons a:hover {
      background: rgba(17, 86, 190, 0.31);
      padding: 10px;
      border-radius: 50%; }
    .footer__icons a:last-child {
      margin-right: 0; }
  .footer__facebook {
    padding: 0 5px;
    margin-right: -5px;
    position: relative;
    right: 3px; }
  .footer__telegram {
    height: 16px; }
