@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

// @media (max-width: 1399.98px) {}
// @media (max-width: 1199.98px) {}
// @media (max-width: 991.98px) {}
// @media (max-width: 767.98px) {}
// @media (max-width: 575.98px) {}
// @media (max-width: 479.98px) {}
// @media (max-width: 379.98px) {}

body{
	font-family: 'Inter', sans-serif;
	background: url(../img/bg-test.png) no-repeat 60% 0% aliceblue; //поправити bg
	// background: lightgray;
	/* @media (max-width: 1199.98px) {
		background: url(../img/bg-test.png) no-repeat 62% 80% fixed aliceblue;
	} 
	@media (max-width: 991.98px) {
	background: url(../img/bg-test.png) no-repeat 60% 0% aliceblue; //поправити bg
	}*/
	@media (max-width: 767.98px) {
		background: #f0f8ff;
	}
}
.wrapper{
	min-height: 100%;
	display: flex;	
	flex-direction: column;
}
.main_container{
	max-width: 1400px;
	padding: 0 25px;
	flex: 1 1 auto;
	@media (max-width: 479.98px) {
		padding: 0 20px;
	}
	@media (max-width: 379.98px) {
		padding: 0 15px;
	}
}
.row{
	display: flex;
	justify-content: center;
}
.adaptive-img{
	max-width: 100%;
	height: auto;
}
.blue-button{
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	background: rgba(46, 111, 208, 0.9);
	border-radius: 10px;
	transition: 0.3s;
	@media (max-width: 991.98px) {
		font-size: 18px;
	}
	@media (max-width: 767.98px) {
		// font-size: 16px;
	}
	@media (max-width: 575.98px) {
		// font-size: 14px;
	}
	@media (max-width: 479.98px) {
		font-size: 16px;
	}
	@media (max-width: 379.98px) {
		// font-size: 10px;
	}
}
.blue-button:hover{
	background: #2869ca;
}
/***************
*****Header*****
****************/
.header{
	&__container{
		max-width: 1350px;
	}
	&__navbar{
		// height: 83px;
		background: rgba(46, 111, 208, 0.9);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 9px;
		margin: 40px 0px 0px 0px;
		padding: 0 33px;
		@media (max-width: 991.98px) {
			padding: 20px 33px;
			margin: 20px 0px 0px 0px;
		}
		@media (max-width: 767.98px) {
			margin: 20px 0px 0px 0px;
		}
		@media (max-width: 575.98px) {
			margin: 20px 0px 0px 0px;
			padding: 15px 20px;
		}
	}	
	.container-fluid{
		padding: 0;
	}
	&__logo{
		margin-right: 0;
	}
	&__span-1{
		text-transform: uppercase;
		color: #fff;
	}
	&__span-2{
		display: block;
		font-size: 12px;
		line-height: 15px;
		color: #fff;
	}
	&__car:before {
	    content: url(../img/general-svg/header-logo.svg);
	    position: absolute;
	    top: 2px;
	    left: 100px;
	    padding-top: 7px;
	}
	&__collapse{
		// text-align: center;
	}
	&__list{
		li{
			// padding: 0 15px;
			a{
				color: #fff !important; //Не хоче переоприділяти колір
				padding: 33px 15px !important;
				font-size: 14px;
				line-height: 17px;
				position: relative;
				@media (max-width: 991.98px) {
					font-size: 20px;
					padding: 20px 15px !important;
				}
				@media (max-width: 575.98px) {
					font-size: 16px;
				}	
			}
			a:hover{
				background: rgba(17, 86, 190, 0.5);
			}
		}
	}	
	&__active{
		background: rgba(17, 90, 190, 0.35);
	}
	&__active:hover{
		background: rgba(17, 90, 190, 0.35) !important;
	}
	.header__lang{
		font-size: 15px;
		line-height: 18px;
		color: #fff !important;
		margin: 0 40px;
		padding: 8px !important;
		position: relative;
		top: 25px;
		border-radius: 50%;
		@media (max-width: 991.98px) {
			font-size: 20px;
			padding: 20px 15px !important;
			margin: 0;
			position: relative;
			top: 0px;
			border-radius: 10%;
		}
		@media (max-width: 575.98px) {
			font-size: 16px;
		}	
	}
	.header__lang:hover{
		border-radius: 50%;
		@media (max-width: 991.98px) {
			border-radius: 0;
		}
	}
	&__last-item{
		display: flex;
		align-items: center;
		@media (max-width: 991.98px) {
			padding: 20px 15px;
		}
	}
	.header__sign-in{
		display: inline;
		padding: 0 !important;
		margin-top: 33px;
		margin-left: 10px;
		@media (max-width: 991.98px) {
			margin: 0;
		}
	}
	.header__sign-in:hover{
		text-decoration: underline;
		background: none;
	}
	&__slash{
		color: #fff;
		@media (max-width: 991.98px) {
			font-size: 20px;
		}
		@media (max-width: 575.98px) {
			font-size: 16px;
		}
	}
	.header__sign-up{
		padding: 0 !important;
	}
	.header__sign-up:hover{
		text-decoration: underline;
		background: none;
	}
}
/****************
*****Catalog*****
*****************/
// @media (max-width: 1399.98px) {}
// @media (max-width: 1199.98px) {}
// @media (max-width: 991.98px) {}
// @media (max-width: 767.98px) {}
// @media (max-width: 575.98px) {}
// @media (max-width: 479.98px) {}
// @media (max-width: 379.98px) {}
.catalog{
	margin: 30px 0 70px 0;
	@media (max-width: 767.98px) {
		text-align: center;
	}
	@media (max-width: 479.98px) {
		margin: 30px 0 50px 0;
	}
	@media (max-width: 379.98px) {
		margin: 20px 0 40px 0;
	}
	&__filter{
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		flex-wrap: wrap;
		@media (max-width: 1199.98px) {
			margin-bottom: 30px;
		}
		@media (max-width: 991.98px) {
			padding: 0;
			margin-bottom: 20px;			
		}
		@media (max-width: 767.98px) {
			// flex-direction: column-reverse;
		}
		@media (max-width: 575.98px) {
			margin-bottom: 10px;
		}
	}
	.catalog__year-wrapper, .catalog__price-wrapper {
	   display: flex;
	   align-items: center;
	}      

   .catalog__year, .catalog__price {
	   min-width: 200px;
	}
	&__filter-left{
		@media (max-width: 767.98px) {
			// margin-bottom: 20px;
		}
	}
	.filter-wrapper{
		position: relative;
   	display: inline-block;
   	width: 155px;
   	margin: 0 10px;
   	@media (max-width: 1199.98px) {
			width: 130px;
		}
		@media (max-width: 991.98px) {
			margin-bottom: 15px;
		}
		@media (max-width: 509.98px) {
			margin-bottom: 10px;
		}
	}
	.filter-head{
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.1em;
		text-align: center;
	   height: 36px;
	   min-width: 80px;
		color: #000;
		background: #fff; //#E0ECFF
		border: 2px solid #437DD5;
		padding: 0 5px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
   	width: 100%;
	   z-index: 2;
	   flex-wrap: wrap;
   	position: relative;
   	@media (max-width: 1199.98px) {
	   	font-size: 16px;
			line-height: 20px;
	   }
	}
	.catalog__year{
		margin: 0 20px;
		@media (max-width: 509.98px) {
			margin-bottom: 15px;
		}
	}
	.catalog__price .filter-head, .catalog__year .filter-head {
		margin: 0 5px 0 0;
	}
	.catalog__year-text, .catalog__price-text {
		margin: 0 4px 0 0;
	}
	.catalog__filter-title {	
		text-align: center;
		font-size: 20px;
		margin-bottom: 7px;
		@media (max-width: 991.98px) {
			font-size: 18px;
		}
	}
	.catalog__price-title, .catalog__year-title{
		margin-left: 40px;
	}

	&__button{
		position: relative;
		bottom: 5px;
		button{
			padding: 10px 10px;
			@media (max-width: 479.98px) {
				font-size: 18px;
			}
			@media (max-width: 379.98px) {
				font-size: 16px;
				padding: 8px 10px;
			}
		}
	}

	&__item-list{
		justify-content: center;
	}
	&__block{
		// mix-blend-mode: multiply;
		width: 410px;
		background: inherit;
		border: 1px solid #a3c2f0;
		padding: 0 10px;
		margin: 0 10px 20px 10px;
		@media (max-width: 1199.98px) {
			margin: 0 7px 14px 7px;
		}
		@media (max-width: 991.98px) {
			margin: 0 0 15px 0;
		}
		@media (max-width: 479.98px) {
			margin: 0 0 10px 0;
		}
	}
	span{
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		display: block;
		margin-top: 10px;
		color: #000;
		@media (max-width: 479.98px) {
			font-size: 22px;
		}
		@media (max-width: 379.98px) {
			font-size: 20px;
		}
	}
	h5{
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		display: block;
		color: #000;
		margin: 0;
		@media (max-width: 479.98px) {
			font-size: 22px;
		}
		@media (max-width: 379.98px) {
			font-size: 20px;
		}
	}
	.card-body{
		display: flex;
		flex-direction: column;
		padding-top: 0;
		@media (max-width: 479.98px) {
			padding-top: 10px;
		}
	}
	.card-button{
		padding: 7px 20px;
		margin: 15px auto 10px auto;
		@media (max-width: 991.98px) {
			padding: 5px 15px;
			margin: 15px auto 5px auto;
		}
		@media (max-width: 479.98px) {
			margin: 10px auto 0px auto;
		}
	}
	&__pagination{
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	&__switch{
		display: flex;
		margin: 0 30px 0 30px;
		@media (max-width: 991.98px) {
			margin: 0 20px 0 20px;
		}
		img{
			cursor: pointer;
		}
	}
	&__switch-item{
		width: 32px;
		height: 32px;
		color: #fff;
		background: #437DD5; 
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
		cursor: pointer;
		@media (max-width: 479.98px) {
			width: 30px;
			height: 30px;
		}
		@media (max-width: 379.98px) {
			width: 28px;
			height: 28px;
		}
	}
	.switch-active{
		background: #185fca;
	}
	.switch-item:hover, .switch-item:hover{
		color: #2869CA;
		background: inherit;
		border: 2px solid #2869CA;
		font-weight: bold;
		transition: .2s ease-in;
	}
	&__switch-item:last-child{
		margin: 0;
	}
}


/*****************
******Footer****** 
******************/
.footer_container{
	max-width: 1370px;
	padding: 0 35px;
	display: flex;
	flex-direction: column;
	@media (max-width: 767.98px) {
		padding-bottom: 6px;
	}
}
.footer{
	background: rgba(67, 125, 213, 1);
	height: 105px;
	position: relative;
	display: flex;
	// justify-content: center;
	align-items: center;
	text-align: center;
	@media (max-width: 767.98px){
		height: 180px;
	}
	&__logo{
		display: flex;
		color: #fff;
		@media (max-width: 767.98px) {
			margin-bottom: 30px;
			justify-content: center;
		}
	}
	&__a{
		position: relative;
		top: 4px;
	}
	&__span-1{
		color: #fff;
		text-transform: uppercase;
		padding-right: 10px;
	}
	&__span-2{
		color: #fff;
		display: inline-block;
		font-size: 16px;
		line-height: 19px;
		position: absolute;
		top: 27px;
		left: 0px;
		padding-right: 40px;
		@media (max-width: 1199.98px) {
			display: block;
			font-size: 12px;
			line-height: 15px;
			top: 20px;
			padding-right: 10px;
		}
	}
	&__car:before {
	    content: url(../img/general-svg/footer-logo.svg);
	    position: absolute;
	    top: 2px;
	    left: 168px;
	    padding-top: 3px;
	    @media (max-width: 1199.98px) {
			content: url(../img/general-svg/header-logo.svg);
		   position: absolute;
		   left: 100px;
		}
	}
	&__copyright{
		color: #fff;
		font-size: 15px;
		line-height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 767.98px) {
			margin-bottom: 20px;
		}
		@media (max-width: 575.98px) {
			font-size: 14px;
		}	
	}
	&__icons{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: 767.98px) {
			margin-bottom: -15px;
			justify-content: center;
		}
		a{
			margin-right: 5px;
			padding: 10px;
		}
		a:hover{
			background: rgba(17, 86, 190, 0.31);
			padding: 10px;
			border-radius: 50%;
		}
		a:last-child{
			margin-right: 0;
		}
	}
	&__facebook{
		padding: 0 5px;
		margin-right: -5px;
		position: relative;
		right: 3px;
	}
	&__telegram{
		height: 16px;
	}
}