@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

// @media (max-width: 1399.98px) {}
// @media (max-width: 1199.98px) {}
// @media (max-width: 991.98px) {}
// @media (max-width: 767.98px) {}
// @media (max-width: 575.98px) {}
// @media (max-width: 479.98px) {}
// @media (max-width: 379.98px) {}

body{
	font-family: 'Inter', sans-serif;
	background: url(../img/bg-test.png) no-repeat 60% 0% aliceblue; //поправити bg
	@media (max-width: 767.98px) {
		background: #f0f8ff;
	}
}
.wrapper{
	min-height: 100%;
	display: flex;	
	flex-direction: column;
}
.main_container{
	max-width: 1400px;
	padding: 0 25px;
	flex: 1 1 auto;
	@media (max-width: 479.98px) {
		padding: 0 20px;
	}
	@media (max-width: 379.98px) {
		padding: 0 15px;
	}
}
.adaptive-img{
	max-width: 100%;
	height: auto;
}
.blue-button{
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	background: rgba(46, 111, 208, 0.9);
	border-radius: 10px;
	@media (max-width: 991.98px) {
		font-size: 18px;
	}
	@media (max-width: 767.98px) {
		font-size: 16px;
	}
	@media (max-width: 479.98px) {
		font-size: 14px;
	}
}
.blue-button:hover{
	background: #2869ca;
}
/***************
*****Header*****
****************/
.header{
	&__container{
		max-width: 1350px;
	}

	&__navbar{
		// height: 83px;
		background: rgba(46, 111, 208, 0.9);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 9px;
		margin: 40px 0px 0px 0px;
		padding: 0 33px;
		@media (max-width: 991.98px) {
			padding: 20px 33px;
			margin: 20px 0px 0px 0px;
		}
		@media (max-width: 767.98px) {
			margin: 20px 0px 0px 0px;
		}
		@media (max-width: 575.98px) {
			margin: 20px 0px 0px 0px;
			padding: 15px 20px;
		}
	}	
	.container-fluid{
		padding: 0;
	}
	&__logo{
		margin-right: 0;
	}
	&__span-1{
		text-transform: uppercase;
		color: #fff;
	}
	&__span-2{
		display: block;
		font-size: 12px;
		line-height: 15px;
		color: #fff;
	}
	&__car:before {
	    content: url(../img/general-svg/header-logo.svg);
	    position: absolute;
	    top: 2px;
	    left: 100px;
	    padding-top: 7px;
	}
	&__list{
		li{
			a{
				color: #fff !important; //Не хоче переоприділяти колір
				padding: 33px 15px !important;
				font-size: 14px;
				line-height: 17px;
				position: relative;
				@media (max-width: 991.98px) {
					font-size: 20px;
					padding: 20px 15px !important;
				}
				@media (max-width: 575.98px) {
					font-size: 16px;
				}	
			}
			a:hover{
				background: rgba(17, 86, 190, 0.5);
			}
		}
	}	
	&__active{
		text-decoration: underline;
	}
	&__active:hover{
		text-decoration: underline;
	}
	.header__lang{
		font-size: 15px;
		line-height: 18px;
		margin: 0 40px;
		padding: 8px !important;
		position: relative;
		top: 27px;
		border-radius: 50%;
		@media (max-width: 991.98px) {
			font-size: 20px;
			padding: 20px 15px !important;
			margin: 0;
			position: relative;
			top: 0px;
			border-radius: 10%;
		}
		@media (max-width: 575.98px) {
			font-size: 16px;
		}	
	}
	.header__lang:hover{
		border-radius: 50%;
		@media (max-width: 991.98px) {
			border-radius: 0;
		}
	}
	&__last-item{
		display: flex;
		align-items: center;
		@media (max-width: 991.98px) {
			padding: 20px 15px;
		}
	}
	.header__cabinet{
		display: inline;
		padding: 0 !important;
		margin-left: 10px;
		@media (max-width: 991.98px) {
			margin: 0;
		}
	}
	.header__cabinet:hover{
		text-decoration: underline;
		background: none;
	}
	&__slash{
		color: #fff;
		@media (max-width: 991.98px) {
			font-size: 20px;
		}
		@media (max-width: 575.98px) {
			font-size: 16px;
		}
	}
	.header__exit{
		padding: 0 !important;
	}
	.header__exit:hover{
		text-decoration: underline;
		background: none;
	}
}
/*****************
*****Inactive*****
*****************/
.inactive {
	margin: 40px 0 50px 0;
	@media (max-width: 767.98px) {
		margin: 30px 0 45px 0;
	}
	&__container{
		padding: 0;
	}
	&__row{
		display: flex;
		@media (max-width: 1399.98px) {
			justify-content: space-between;	
		}
		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__left { 
		flex: 0 1 22%;
		margin-left: 55px;
		@media (max-width: 1399.98px) {
			margin-left: 40px;
		}
		@media (max-width: 1199.98px) {
			margin-left: 20px;
			flex: 0 1 27%;
		}
		@media (max-width: 991.98px) {
			margin-left: 15px;
			flex: 0 1 35%;
		}
		@media (max-width: 767.98px) {
			margin-bottom: 50px;
			margin-left: 0px;
		}
		@media (max-width: 575.98px) {
			margin-bottom: 40px;	
		}
		@media (max-width: 479.98px) {
			margin-bottom: 30px;
		}
		@media (max-width: 379.98px) {
			margin-bottom: 20px;
		}
		h3{
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 35px;
			@media (max-width: 1199.98px) {
				margin-bottom: 30px;
			}
			@media (max-width: 991.98px) {
				font-size: 22px;
				margin-bottom: 25px;
			}
			@media (max-width: 479.98px) {
				margin-bottom: 20px;
			}
		}
		p{
			font-size: 16px;
			padding: 0 15px 0 0;
			margin: 20px 0 0 0;
			@media (max-width: 1199.98px) {
				margin: 15px 0 0 0;
			}
			@media (max-width: 991.98px) {
				font-size: 15px;
				margin: 10px 0 0 0;
			}
			@media (max-width: 767.98px) {
				width: 250px;
				padding: 0;
			}
			a{
				display: block;
				padding: 7px 15px;
				margin: 15px 0 0 0;
				max-width: 175px;
				@media (max-width: 991.98px) {
					max-width: 160px;
				}
				@media (max-width: 767.98px) {
					max-width: 145px;
					margin: 15px auto 0 auto;
				}
				@media (max-width: 479.98px) {
					max-width: 130px;
					margin: 10px auto 0 auto;
				}
			}
		}
	}
	&__user {
		font-size: 20px;
		line-height: 24px;
		position: relative;
		left: -6px;
		@media (max-width: 991.98px) {
			font-size: 18px;
		}
		span{
			display: inline-flex;
			flex-direction: column;
			margin-right: 3px;
			input{
				max-width: 220px;
				background: #F9F9F9;
				border: 1px solid #437DD5;
				box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
				border-radius: 10px;
				padding: 3px 10px;
			}
			button{
				color: #fff;
				background: rgba(46, 111, 208, 0.9);
				border-radius: 10px;
				padding: 5px 10px;
				margin: 10px auto;
			}
			button:hover{
				background: #2869ca;
			}
		}
	}
	&__user-img{
		position: relative;
		top: -8px;
	}
	&__edit-img{
		position: relative;
		top: 3px;
	}
	&__email{
		font-size: 16px;
		line-height: 19px;	
		padding-left: 5px;
		margin-bottom: 20px;	
		position: relative;
		top: -3px;
		left: 28px;
		@media (max-width: 1199.98px) {
			margin-bottom: 15px;
		}
		@media (max-width: 991.98px) {
			font-size: 14px;
			margin-bottom: 10px;
		}
		@media (max-width: 479.98px) {
			margin-bottom: 5px;
		}
	}
	&__birthday {
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 30px;
		@media (max-width: 1199.98px) {
			margin-bottom: 25px;
		}
		@media (max-width: 991.98px) {
			font-size: 14px;
			margin-bottom: 20px;
		}
		@media (max-width: 479.98px) {
			margin-bottom: 15px;
		}
		span{
			margin-left: 5px;
		}
	}
	&__phone {
		font-size: 16px;
		line-height: 19px;
		position: relative;
		left: -2px;
		@media (max-width: 1199.98px) {
			
		}
		@media (max-width: 991.98px) {
			font-size: 14px;
		}
		span{
			display: inline-block;
			margin: 2px 0 0 2px;
		}
	}
	&__right {
		flex: 0 1 78%;
		padding: 0;
		@media (max-width: 1399.98px) {
			flex: 0 1 70%;
		}
		@media (max-width: 1199.98px) {
			flex: 0 1 65%;
		}
		@media (max-width: 991.98px) {
			flex: 0 1 62%;
		}
		@media (max-width: 767.98px) {
			display: flex;
			flex-direction: column;
			// align-items: center;
			width: 450px;
		}
		@media (max-width: 575.98px) {
			width: 400px;
		}
		@media (max-width: 479.98px) {
			width: 350px;
		}
		@media (max-width: 379.98px) {
			width: 290px;
		}
	}
	&__block {
		background: rgba(249, 249, 249, 0.3);
		box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
		border: 2px solid #437DD5;
		border-radius: 20px;
		padding: 30px 40px 30px 40px;
		margin-bottom: 18px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: 1399.98px) {
			padding: 23px 33px;
		}
		@media (max-width: 1199.98px) {
			padding: 20px 30px;
			// display: block;
		}
		@media (max-width: 991.98px) {
			padding: 15px 25px;
		}
		@media (max-width: 767.98px) {
			justify-content: center;
			margin-bottom: 50px;
		}
		@media (max-width: 575.98px) {
			margin-bottom: 40px;	
		}
		@media (max-width: 479.98px) {
			padding: 12px 15px;
			margin-bottom: 30px;
		}
		@media (max-width: 379.98px) {
			margin-bottom: 20px;
		}
	}
	&__status {
		font-size: 24px;
		line-height: 29px;
		@media (max-width: 1399.98px) {
			
		}
		@media (max-width: 1199.98px) {
			font-size: 22px;
		}
		@media (max-width: 991.98px) {
			font-size: 20px;
		}
		@media (max-width: 575.98px) {
			
		}
		@media (max-width: 479.98px) {
			font-size: 18px;
			line-height: 25px;
		}
		@media (max-width: 379.98px) {
			// font-size: 16px;
			// line-height: 22px;
		}
		span{
			@media (max-width: 479.98px) {
				font-weight: bold;
			}
		}
	}
	&__request{
		// max-width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: start;
		text-align: right;
		position: relative;
		left: 15px;
		@media (max-width: 991.98px) {
			align-items: center;
			left: 0;
		}
		@media (max-width: 767.98px) {}
		@media (max-width: 575.98px) {}
		@media (max-width: 479.98px) {}
		@media (max-width: 379.98px) {}
		h3{
			font-size: 24px;
			line-height: 29px;
			margin: 0 0 10px 345px;
			@media (max-width: 1199.98px) {
				font-size: 22px;
				margin: 0 0 10px 193px;
			}
			@media (max-width: 991.98px) {
				font-size: 20px;
				margin: 0 auto 10px auto;
			}
			@media (max-width: 767.98px) {
				
			}
			@media (max-width: 575.98px) {
				
			}
			@media (max-width: 479.98px) {
				font-size: 18px;
			}
			@media (max-width: 379.98px) {
				// font-size: 16px;
			}
		}
		form{
			label{
				font-size: 16px;
				line-height: 19px;
				margin-right: 5px;
				@media (max-width: 991.98px) {
					display: block;
					text-align: left;
					margin-right: 0px;
					margin-bottom: 2px;
				}
				@media (max-width: 767.98px) {

				}
				@media (max-width: 575.98px) {
					
				}
				@media (max-width: 479.98px) {
					font-size: 15px;
				}
				@media (max-width: 379.98px) {}
			}
			select{
				display: inline;
				font-size: 16px;
				line-height: 19px;
				// width: 60%;
				width: 435px;
				height: 32px;
				background-color: #F9F9F9;
				border: 1px solid #437DD5;
				box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
				border-radius: 10px;
				padding: 0px 15px;
				@media (max-width: 1199.98px) {
					width: 300px;
				}
				@media (max-width: 991.98px) {
					width: 350px;
				}
				@media (max-width: 479.98px) {
					width: 330px;
				}
				@media (max-width: 379.98px) {
					width: 280px;
				}
			}
			option{
				background: #E8E8E8;
				border: 1px solid #437DD5;
				border-radius: 10px;
			}
			input{
				font-size: 16px;
				line-height: 19px;
				width: 435px;
				height: 32px;
				background: #F9F9F9;
				border: 1px solid #437DD5;
				box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
				border-radius: 10px !important;
				padding: 0px 15px;
				@media (max-width: 1199.98px) {
					width: 300px;
				}
				@media (max-width: 991.98px) {
					width: 350px;
				}
				@media (max-width: 479.98px) {
					width: 330px;
				}
				@media (max-width: 379.98px) {
					width: 280px;
				}
			}
		}
	}	
	&__auto, &__term, &__color, &__passport, &__ipn {
		margin-bottom: 10px;
		@media (max-width: 991.98px) {
			margin-bottom: 15px;
		}
		@media (max-width: 479.98px) {
			margin-bottom: 10px;
		}
	}
	&__contact{
		margin-bottom: 20px;
	}
	&__button {
		display: block;
		margin: 0 auto;
		padding: 14px 18px;
		margin-right: 115px;
		@media (max-width: 1199.98px) {
			margin-right: 47px;
		}
		@media (max-width: 991.98px) {
			margin: 0 auto;
		}
		@media (max-width: 379.98px) {
			padding: 12px 18px;
		}
	}
}
/***********************************************
**********Стилізація випадаючого меню***********
*********************auto***********************
***********************************************/
.inactive__wrapper-auto{

}
.inactive__auto {
   position: relative;
   display: inline-block;
   width: 435px;
   @media (max-width: 1199.98px) {
   	max-width: 300px;
   }
   @media (max-width: 991.98px) {
		max-width: 350px;
		margin-bottom: 15px;
	}
	@media (max-width: 479.98px) {
		max-width: 330px;
		margin-bottom: 10px;
	}
	@media (max-width: 379.98px) {
		max-width: 280px;
	}
}

.inactive__head-auto {
	font-size: 16px;
	line-height: 19px;
	height: 32px;
	background: #F9F9F9;
	border: 1px solid #437DD5;
	box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 0px 15px;
	display: flex;
	align-items: center;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.inactive__head-auto::after {
    width: 13px;
    height: 9px;
    background: url("../img/inactive/svg/check-mark.svg") no-repeat center / cover;
    position: absolute;
    right: 23px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
}

.inactive__head-auto.open::after {
    transform: translateY(50%) rotate(180deg);
}

.inactive__list-auto {
    display: none;
    font-size: 16px;
	line-height: 19px;
	text-align-last: left;
	color: #000;
    background: #E8E8E8;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border: 2px solid #437DD5;
    border-radius: 0 0 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 12px 0 5px 0;
    z-index: 9;
}

.inactive__list-auto::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.inactive__list-auto::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.inactive__list-auto .inactive__item-auto {
	font-size: 16px;
	line-height: 19px;
    position: relative;
    padding: 5px 15px;
    cursor: pointer;
    list-style-type: none;
   // z-index: 1;
}

.inactive__list-auto .inactive__item-auto:hover {
    background-color: #d8d8d8;
}
/***********************************************
**********Стилізація випадаючого меню***********
*********************term***********************
***********************************************/
.inactive__wrapper-term{

}
.inactive__term {
   position: relative;
   display: inline-block;
   width: 435px;
   @media (max-width: 1199.98px) {
   	max-width: 300px;
   }
   @media (max-width: 991.98px) {
		max-width: 350px;
		margin-bottom: 15px;
	}
	@media (max-width: 479.98px) {
		max-width: 330px;
		margin-bottom: 10px;
	}
	@media (max-width: 379.98px) {
		max-width: 280px;
	}
}

.inactive__head-term{
	font-size: 16px;
	line-height: 19px;
	height: 32px;
	background: #F9F9F9;
	border: 1px solid #437DD5;
	box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 0px 15px;
	display: flex;
	align-items: center;
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 8;
}
.inactive__head-term::after {
    width: 13px;
    height: 9px;
    background: url("../img/inactive/svg/check-mark.svg") no-repeat center / cover;
    position: absolute;
    right: 23px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
	}

.inactive__head-term.open::after {
    transform: translateY(50%) rotate(180deg);
}

.inactive__list-term {
    display: none;
    font-size: 16px;
	line-height: 19px;
	text-align-last: left;
	color: #000;
    background: #E8E8E8;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border: 2px solid #437DD5;
    border-radius: 0 0 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 12px 0 5px 0;
    z-index: 7;
}

.inactive__list-term::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.inactive__list-term::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.inactive__list-term .inactive__item-term {
	font-size: 16px;
	line-height: 19px;
    position: relative;
    padding: 5px 15px;
    cursor: pointer;
    list-style-type: none;
}

.inactive__list-term .inactive__item-term:hover {
    background-color: #d8d8d8;
}
/***********************************************
**********Стилізація випадаючого меню***********
*********************color***********************
***********************************************/
.inactive__wrapper-color{

}
.inactive__color {
   position: relative;
   display: inline-block;
   width: 435px;
   @media (max-width: 1199.98px) {
   	max-width: 300px;
   }
   @media (max-width: 991.98px) {
		max-width: 350px;
		margin-bottom: 15px;
	}
	@media (max-width: 479.98px) {
		max-width: 330px;
		margin-bottom: 10px;
	}
	@media (max-width: 379.98px) {
		max-width: 280px;
	}
}

.inactive__head-color{
	font-size: 16px;
	line-height: 19px;
	height: 32px;
	background: #F9F9F9;
	border: 1px solid #437DD5;
	box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 0px 15px;
	display: flex;
	align-items: center;
	width: 100%;
	cursor: pointer;
	position: relative;
	z-index: 6;
}
.inactive__head-color::after {
    width: 13px;
    height: 9px;
    background: url("../img/inactive/svg/check-mark.svg") no-repeat center / cover;
    position: absolute;
    right: 23px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
	}

.inactive__head-color.open::after {
    transform: translateY(50%) rotate(180deg);
}

.inactive__list-color {
	display: none;
	font-size: 16px;
	line-height: 19px;
	text-align-last: left;
	color: #000;
	background: #E8E8E8;
	box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
	border: 2px solid #437DD5;
	border-radius: 0 0 10px 10px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 22px;
	left: 0;
	right: 0;
	margin: 0;
	padding: 12px 0 5px 0;
	z-index: 5;
}

.inactive__list-color::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.inactive__list-color::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.inactive__list-color .inactive__item-color {
	font-size: 16px;
	line-height: 19px;
   position: relative;
   padding: 5px 15px;
   cursor: pointer;
   list-style-type: none;
   // z-index: 1;
}

.inactive__list-color .inactive__item-color:hover {
    background-color: #d8d8d8;
}
/*****************
*****Валідація***** 
******************/
input._error{
	box-shadow: 0 0 7px red !important;
	border: 0px !important;
}
span#result, #result2{
	display: block;
	line-height: 20px;
	margin-top: 3px;
	margin-bottom: 0;
	padding-right: 7px;
}
/*****************
******Footer****** 
******************/
.footer_container{
	max-width: 1370px;
	padding: 0 35px;
	display: flex;
	flex-direction: column;
	@media (max-width: 767.98px) {
		padding-bottom: 6px;
	}
}
.footer{
	background: rgba(67, 125, 213, 1);
	height: 105px;
	position: relative;
	display: flex;
	// justify-content: center;
	align-items: center;
	text-align: center;
	@media (max-width: 767.98px){
		height: 180px;
	}
	&__logo{
		display: flex;
		color: #fff;
		@media (max-width: 767.98px) {
			margin-bottom: 30px;
			justify-content: center;
		}
	}
	&__a{
		position: relative;
		top: 4px;
	}
	&__span-1{
		color: #fff;
		text-transform: uppercase;
		padding-right: 10px;
	}
	&__span-2{
		color: #fff;
		display: inline-block;
		font-size: 16px;
		line-height: 19px;
		position: absolute;
		top: 27px;
		left: 0px;
		padding-right: 40px;
		@media (max-width: 1199.98px) {
			display: block;
			font-size: 12px;
			line-height: 15px;
			top: 20px;
			padding-right: 10px;
		}
	}
	&__car:before {
	    content: url(../img/general-svg/footer-logo.svg);
	    position: absolute;
	    top: 2px;
	    left: 168px;
	    padding-top: 3px;
	    @media (max-width: 1199.98px) {
			content: url(../img/general-svg/header-logo.svg);
		   position: absolute;
		   left: 100px;
		}
	}
	&__copyright{
		color: #fff;
		font-size: 15px;
		line-height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 767.98px) {
			margin-bottom: 20px;
		}
		@media (max-width: 575.98px) {
			font-size: 14px;
		}	
	}
	&__icons{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: 767.98px) {
			margin-bottom: -15px;
			justify-content: center;
		}
		a{
			margin-right: 5px;
			padding: 10px;
		}
		a:hover{
			background: rgba(17, 86, 190, 0.31);
			padding: 10px;
			border-radius: 50%;
		}
		a:last-child{
			margin-right: 0;
		}
	}
	&__facebook{
		padding: 0 5px;
		margin-right: -5px;
		position: relative;
		right: 3px;
	}
	&__telegram{
		height: 16px;
	}
}