@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

// @media (max-width: 1399.98px) {}
// @media (max-width: 1199.98px) {}
// @media (max-width: 991.98px) {}
// @media (max-width: 767.98px) {}
// @media (max-width: 575.98px) {}
// @media (max-width: 479.98px) {}
// @media (max-width: 379.98px) {}

body{
	font-family: 'Inter', sans-serif;
	background: url(../img/bg-test.png) no-repeat 60% 0% aliceblue; //поправити bg
	// background: lightgray;
	@media (max-width: 767.98px) {
		background: #f0f8ff;
	}
}
.wrapper{
	min-height: 100%;
	display: flex;	
	flex-direction: column;
}
.main_container{
	max-width: 1400px;
	padding: 0 25px;
	flex: 1 1 auto;
	@media (max-width: 479.98px) {
		padding: 0 20px;
	}
	@media (max-width: 379.98px) {
		padding: 0 15px;
	}
}
.adaptive-img{
	max-width: 100%;
	height: auto;
}
.blue-button{
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	background: rgba(46, 111, 208, 0.9);
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	@media (max-width: 1399.98px) {
		font-size: 19px;
	}
	@media (max-width: 1199.98px) {
		font-size: 18px;
	}
	@media (max-width: 991.98px) {
		font-size: 17px;
	}
	@media (max-width: 767.98px) {
		font-size: 16px;
	}
	@media (max-width: 379.98px) {
		font-size: 14px;
	}
}
.blue-button:hover{
	background: #2869ca;
}
/***************
*****Header*****
****************/
.header{
	&__container{
		max-width: 1350px;
	}

	&__navbar{
		// height: 83px;
		background: rgba(46, 111, 208, 0.9);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 9px;
		margin: 40px 0px 0px 0px;
		padding: 0 33px;
		@media (max-width: 991.98px) {
			padding: 20px 33px;
			margin: 20px 0px 00px 0px;
		}
		@media (max-width: 767.98px) {
			margin: 20px 0px 00px 0px;
		}
		@media (max-width: 575.98px) {
			margin: 20px 0px 00px 0px;
			padding: 15px 20px;
		}
	}	
	.container-fluid{
		padding: 0;
	}
	&__logo{
		font-size: 15px;
		line-height: 18px;
		position: relative;
		padding-right: 5px;
		padding-bottom: 5px;
		// color: #fff;
	}
	&__span-1{
		text-transform: uppercase;
		color: #fff;
	}
	&__span-2{
		display: block;
		font-size: 12px;
		line-height: 15px;
		color: #fff;
	}
	&__car:before {
	    content: url(../img/general-svg/header-logo.svg);
	    position: absolute;
	    top: 2px;
	    left: 100px;
	    padding-top: 7px;
	}
	&__list{
		li{
			a{
				color: #fff !important;
				padding: 33px 15px !important;
				font-size: 14px;
				line-height: 17px;
				position: relative;
				@media (max-width: 991.98px) {
					font-size: 20px;
					padding: 20px 15px !important;
				}
				@media (max-width: 575.98px) {
					font-size: 16px;
				}	
			}
			a:hover{
				background: rgba(17, 86, 190, 0.5);
			}
		}
	}	
	&__active{
		text-decoration: underline;
	}
	.header__lang{
		font-size: 15px;
		line-height: 18px;
		margin: 0 40px;
		padding: 8px !important;
		position: relative;
		top: 27px;
		border-radius: 50%;
		@media (max-width: 991.98px) {
			font-size: 20px;
			padding: 20px 15px !important;
			margin: 0;
			position: relative;
			top: 0px;
			border-radius: 10%;
		}
		@media (max-width: 575.98px) {
			font-size: 16px;
		}	
	}
	.header__lang:hover{
		border-radius: 50%;
		@media (max-width: 991.98px) {
			border-radius: 0;
		}
	}
	&__last-item{
		display: flex;
		align-items: center;
		@media (max-width: 991.98px) {
			padding: 20px 15px;
		}
	}
	.header__cabinet{
		display: inline;
		padding: 0 !important;
		margin-top: 33px;
		margin-left: 10px;
		@media (max-width: 991.98px) {
			margin: 0;
		}
	}
	.header__cabinet:hover{
		text-decoration: underline;
		background: none;
	}
	&__slash{
		color: #fff;
		@media (max-width: 991.98px) {
			font-size: 20px;
		}
		@media (max-width: 575.98px) {
			font-size: 16px;
		}
	}
	.header__exit{
		padding: 0 !important;
	}
	.header__exit:hover{
		text-decoration: underline;
		background: none;
	}
}
/****************
*****Manager*****
*****************/
.manager {
	margin: 40px 0 50px 0;
	@media (max-width: 767.98px) {
		margin: 30px 0 40px 0;
	}
	@media (max-width: 575.98px) {
		margin: 30px 0 30px 0;
	}
	@media (max-width: 379.98px) {
		margin: 20px 0 20px 0;
	}
	&__container{
		padding: 0;
	}
	&__row{
		display: flex;
		@media (max-width: 1399.98px) {
			justify-content: space-between;	
		}
		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__profile { 
		flex: 0 1 22%;
		margin-left: 60px;
		@media (max-width: 1399.98px) {
			margin-left: 40px;
		}
		@media (max-width: 1199.98px) {
			margin-left: 20px;
			flex: 0 1 27%;
		}
		@media (max-width: 991.98px) {
			margin-left: 15px;
			flex: 0 1 35%;
		}
		@media (max-width: 767.98px) {
			margin-bottom: 50px;
			margin-left: 0px;
		}
		@media (max-width: 575.98px) {
			margin-bottom: 40px;	
		}
		@media (max-width: 379.98px) {
			margin-bottom: 35px;
		}
		h3{
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 15px;
			@media (max-width: 1399.98px) {
				margin-bottom: 10px;
			}
			@media (max-width: 1199.98px) {
				margin-bottom: 5px;
			}
			@media (max-width: 991.98px) {
				font-size: 22px;
				margin-bottom: 0px;
			}
		}
	}
	&__collapsible {
		flex: 0 1 77%;
		padding: 0;
		@media (max-width: 1399.98px) {
			flex: 0 1 70%;
		}
		@media (max-width: 1199.98px) {
			flex: 0 1 65%;
		}
		@media (max-width: 991.98px) {
			flex: 0 1 62%;
		}
		@media (max-width: 767.98px) {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}
}	
.profile{

	&__user {
		font-size: 20px;
		line-height: 24px;
		@media (max-width: 991.98px) {
			font-size: 18px;
		}
		span{
			display: inline-flex;
			flex-direction: column;
			margin-right: 3px;
			input{
				max-width: 220px;
				background: #F9F9F9;
				border: 1px solid #437DD5;
				box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
				border-radius: 10px;
				padding: 3px 10px;
			}
			button{
				color: #fff;
				background: rgba(46, 111, 208, 0.9);
				border-radius: 10px;
				padding: 5px 10px;
				margin: 10px auto;
			}
			button:hover{
				background: #2869ca;
			}
		}
	}
	&__user-img{
		position: relative;
		top: 3px;
		right: 5px;
	}
	&__edit-img{
		position: relative;
		top: 3px;
	}
	&__email{
		font-size: 16px;
		line-height: 19px;	
		margin-bottom: 30px;	
		@media (max-width: 1199.98px) {
			margin-bottom: 25px;
		}
		@media (max-width: 991.98px) {
			font-size: 14px;
			// margin-bottom: 20px;
		}
		@media (max-width: 479.98px) {
			// margin-bottom: 15px;
		}
	}
	&__edit-catalog{
		margin-bottom: 43px;
		@media (max-width: 1199.98px) {
			margin-bottom: 40px;
		}
		@media (max-width: 991.98px) {
			margin-bottom: 38px;
		}
		@media (max-width: 767.98px) {
			text-align: center;
		}
		@media (max-width: 379.98px) {
			margin-bottom: 33px;
		}
		a{
			padding: 14px 17px;
			@media (max-width: 1199.98px) {
				padding: 14px 18px;
			}
			@media (max-width: 991.98px) {
				padding: 14px 19px;
			}
		}
	}
	&__activated-sub{
		@media (max-width: 767.98px) {
			text-align: center;
		}
		a{
			padding: 14px 30px;
		}	
	}
}

.collapsible{
	&__item-wrapper{
		display: flex;
		justify-content: space-between;
		width: 100%;
		background: #F9F9F9;
		border: 2px solid #437DD5 !important;
		box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
		border-radius: 20px !important;
		padding: 25px 38px 15px 38px;
		margin-bottom: 16px;
		@media (max-width: 1199.98px) {
			padding: 20px 30px 10px 30px;
		}
		@media (max-width: 991.98px) {
			padding: 15px 20px 5px 25px;
		}
		@media (max-width: 767.98px) {
			padding: 10px 20px 0px 20px;
		}
		@media (max-width: 575.98px) {
			padding: 10px 20px 10px 20px;
			margin-bottom: 14px;
		}
		@media (max-width: 479.98px) {
			
			margin-bottom: 12px;
			flex-direction: column;
		}
		@media (max-width: 379.98px) {
			padding: 9px 15px 9px 15px;
			margin-bottom: 10px;
		}
	}
	&__list{
		font-size: 24px;
		line-height: 29px;
		max-height: 80px;
		overflow: hidden;
		transition: max-height 0.5s ease-out;
		padding: 0;
		margin: 0;
		@media (max-width: 1399.98px) {
			font-size: 22px;
		}
		@media (max-width: 1199.98px) {
			font-size: 20px;
		}
		@media (max-width: 991.98px) {
			font-size: 18px;
		}
		@media (max-width: 767.98px) {
			font-size: 16px;
			max-height: 70px;
		}
		@media (max-width: 575.98px) {
			font-size: 15px;
			line-height: 21px;
		}
		@media (max-width: 479.98px) {
			line-height: 20px;
		}
		@media (max-width: 379.98px) {
			line-height: 19px;
		}
		li{
			margin-bottom: 10px;
			@media (max-width: 991.98px) {
				margin-bottom: 8px;
			}
			@media (max-width: 767.98px) {
				margin-bottom: 3px;
			}
		}
		li:last-child{
			margin-bottom: 10px;
		}
	}
	#item-wrapper-1.open .collapsible__list, #item-wrapper-2.open .collapsible__list, #item-wrapper-3.open .collapsible__list{
		max-height: 500px;
	  	transition: max-height 0.5s ease-in;
	}
	&__buttons{
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: end;
		margin-bottom: 13px;
		@media (max-width: 575.98px) {
			margin-bottom: 3px;
		}
		@media (max-width: 479.98px) {
			align-items: start;
		}
		.toggle-btn{
			color: #000;
			background: inherit;
			font-size: 20px;
			line-height: 24px;
			text-decoration: underline;
			@media (max-width: 1399.98px) {
				font-size: 18px;
			}
			@media (max-width: 1199.98px) {
				font-size: 16px;
			}
			@media (max-width: 991.98px) {
				font-size: 14px;
				line-height: 18px;
			}
			@media (max-width: 575.98px) {
				font-size: 13px;
			}
		}
	}
	&__active-sub{
		margin-top: 30px;
		display: none;
		a{
			padding: 14px 25px;
			@media (max-width: 1399.98px) {
				padding: 14px 20px;
			}
			@media (max-width: 1199.98px) {
				padding: 12px 18px;
			}
			@media (max-width: 991.98px) {
				padding: 12px 15px;
			}
			@media (max-width: 379.98px) {
				padding: 10px 14px;
			}
		}	
	}
}
/*****************
******Footer****** 
******************/
.footer_container{
	max-width: 1370px;
	padding: 0 35px;
	display: flex;
	flex-direction: column;
	@media (max-width: 767.98px) {
		padding-bottom: 6px;
	}
}
.footer{
	background: rgba(67, 125, 213, 1);
	height: 105px;
	position: relative;
	display: flex;
	// justify-content: center;
	align-items: center;
	text-align: center;
	@media (max-width: 767.98px){
		height: 180px;
	}
	&__logo{
		display: flex;
		font-size: 24px;
		line-height: 29px;
		position: relative;
		color: #fff;
		@media (max-width: 767.98px) {
			margin-bottom: 20px;
			position: relative;
			right: 15px;
			justify-content: center;
		}
	}
	&__a{
		position: relative;
		top: -6px;
		@media (max-width: 1199.98px) {
			font-size: 15px;
			line-height: 18px;
			padding-bottom: 20px;
			top: 0px;
		}
	}
	&__span-1{
		color: #fff;
		text-transform: uppercase;
		padding-right: 10px;
	}
	&__span-2{
		color: #fff;
		display: inline-block;
		font-size: 16px;
		line-height: 19px;
		position: absolute;
		top: 27px;
		left: 0px;
		padding-right: 40px;
		@media (max-width: 1199.98px) {
			display: block;
			font-size: 12px;
			line-height: 15px;
			top: 20px;
			padding-right: 10px;
		}
	}
	&__car:before {
	    content: url(../img/general-svg/footer-logo.svg);
	    position: absolute;
	    top: 2px;
	    left: 168px;
	    padding-top: 3px;
	    @media (max-width: 1199.98px) {
			content: url(../img/general-svg/header-logo.svg);
		   position: absolute;
		   left: 100px;
		}
	}
	&__copyright{
		color: #fff;
		font-size: 15px;
		line-height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 767.98px) {
			margin-bottom: 20px;
		}
		@media (max-width: 575.98px) {
			font-size: 14px;
		}	
	}
	&__icons{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: 767.98px) {
			margin-bottom: -15px;
			justify-content: center;
		}
		a{
			margin-right: 5px;
			padding: 10px;
		}
		a:hover{
			background: rgba(17, 86, 190, 0.31);
			padding: 10px;
			border-radius: 50%;
			// facebook кайфує
		}
		a:last-child{
			margin-right: 0;
		}
	}
	&__facebook{
		padding: 0 2px;
		margin-right: -2px;
	}
}